h1{
    color: green;
}

a {
    background-color: yellowgreen;
}

.cool {
    color: blue;
}

.grocery_square{
    list-style: square;
}

#btn-change{
    height: 50px;
    width: 300px;
}

#box {
    height: 320px;
    width: 320px;
    background-color: red;
    border: 5px solid gray;
    margin: 0;
    padding: 10px;
    display: inline-block;
}

.nav-h {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategray;
}

.nav-h li {
    float: left;
}

.nav-h li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-h li a:hover{
    background-color: #333;
}

.active {
    background-color: #5448c8;
}