h1{
    color: green;
}

a {
    background-color: yellowgreen;
}

.cool {
    color: blue;
}

.grocery_square{
    list-style: square;
}

#btn-change{
    height: 50px;
    width: 300px;
}

#box {
    height: 320px;
    width: 320px;
    background-color: red;
    border: 5px solid gray;
    margin: 0;
    padding: 10px;
    display: inline-block;
}

.nav-h {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategray;
}

.nav-h li{
    float: left;

}

.nav-h li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-h li a:hover{
    background-color: #333;
}

.active {
    background-color: #5448c8;
}

.banner {
    background-image: url("https://i.ibb.co/GckCvqJ/dog-image7.jpg");
    background-repeat: repeat-x;
}

.person, .movie-choice {
    margin: 36px;
    border: 5px dotted black;
    padding: 16px;
    width: 400px;
}

#fname, #addr, #pass {
    width: 350px;
    height: 30px;
}

label {
    font-size: 20px;
}

#btn-form {
    margin-left: 36px;
    height: 30px;
    width: 75px;
}

.lab {
    margin: 36px;
}

.my-roman {
    list-style: lower-roman;
}